<a href="https://colab.research.google.com/github/FFranco7/Project13_NeuralNetworks/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [132]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [133]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (3).csv

In [134]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE
applicant_data_df = pd.read_csv(
    Path("applicants_data.csv"),
)

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [135]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [136]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
# YOUR CODE HERE
applicant_data_df = applicant_data_df.drop(['EIN', 'NAME'], axis=1)

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [137]:
# Create a list of categorical variables 
# YOUR CODE HERE
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
# YOUR CODE HERE
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [138]:
# Create a OneHotEncoder instance
# YOUR CODE HERE
enc = OneHotEncoder(sparse=False)

In [139]:
# Encode the categorcal variables using OneHotEncoder
# YOUR CODE HERE
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [140]:
# Create a DataFrame with the encoded variables
# Please note the get_feature_names did not work and according to Stack Overflow, newer versions of Scikit should use get_features_names_out (it was renamed: https://stackoverflow.com/questions/58756515/onehotencoder-object-has-no-attribute-get-feature-names)
# YOUR CODE HERE
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
# YOUR CODE HERE
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [141]:
applicant_data_df.dtypes[applicant_data_df.dtypes == "int64"]

STATUS           int64
ASK_AMT          int64
IS_SUCCESSFUL    int64
dtype: object

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [142]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
# YOUR CODE HERE
#encoded_df
numerical_variables_df = applicant_data_df.drop(columns=categorical_variables)

# Review the Dataframe
# YOUR CODE HERE
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [143]:
# Create a df with columns containing numerical variables from the original dataset
attrition_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

attrition_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [144]:
# Define the target set y using the IS_SUCCESSFUL column
# YOUR CODE HERE
y = attrition_df["IS_SUCCESSFUL"]

# Display a sample of y
# YOUR CODE HERE
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [145]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
# YOUR CODE HERE
X = attrition_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
# YOUR CODE HERE
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [146]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
# YOUR CODE HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [147]:
# Create a StandardScaler instance
# YOUR CODE HERE
scaler = StandardScaler()

# Fit the scaler to the features training dataset
# YOUR CODE HERE
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
# YOUR CODE HERE
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [148]:
# Define the the number of inputs (features) to the model
# YOUR CODE HERE
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [149]:
# Define the number of neurons in the output layer 
### ASK TA WHAT DOES THIS MEAN!!!
# YOUR CODE HERE
number_output_neurons = 1

In [150]:
# Define the number of hidden nodes for the first hidden layer
# YOUR CODE HERE
hidden_nodes_layer1 =  (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [151]:
# Define the number of hidden nodes for the second hidden layer
# YOUR CODE HERE
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [152]:
# Create the Sequential model instance
# YOUR CODE HERE
nn = Sequential()

In [153]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [154]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [155]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation="sigmoid"))

In [156]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_17 (Dense)            (None, 58)                6786

 dense_18 (Dense)            (None, 29)                1711

 dense_19 (Dense)            (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [157]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [158]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 3s 2ms/step - loss: 0.5769 - accuracy: 0.7201
Epoch 2/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7273
Epoch 3/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7304
Epoch 4/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7318
Epoch 5/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7327
Epoch 6/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7315
Epoch 7/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7334
Epoch 8/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7338
Epoch 9/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7341
Epoch 10/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5428 - accuracy: 0.7341
Epoch 11/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7350
Epoch 12/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7351
Epoch 13/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7357
Epoch 14/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7373
Epoch 15/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7352
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7372
Epoch 17/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7366
Epoch 18/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7351
Epoch 19/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7366
Epoch 20/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7385

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [159]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
# YOUR CODE HERE
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5521 - accuracy: 0.7322 - 512ms/epoch - 2ms/step
Loss: 0.552139937877655, Accuracy: 0.7322449088096619

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [160]:
# Set the model's file path
# YOUR CODE HERE
file_path = Path("AlphabetSoup.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [161]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [162]:
# Define the number of neurons in the output layer
# YOUR CODE HERE
number_output_neurons_A1 = 1

In [163]:
# Define the number of hidden nodes for the first hidden layer
# YOUR CODE HERE
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons) // 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

5

In [164]:
# Create the Sequential model instance
# YOUR CODE HERE
nn_A1 = Sequential()

In [165]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
# YOUR CODE HERE
nn_A1.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_20 (Dense)            (None, 58)                6786

 dense_21 (Dense)            (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [166]:
# Compile the Sequential model
# YOUR CODE HERE
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [167]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
fit_model = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5880 - accuracy: 0.7159
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7296
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7306
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5520 - accuracy: 0.7293
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7317
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7316
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7319
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7316
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7320
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7329
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5458 - accuracy: 0.7320
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5456 - accuracy: 0.7338
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5445 - accuracy: 0.7321
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7343
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7338
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7333
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7337
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7341
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7353
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7350
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7355
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7352
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7349
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7346
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7357
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7352
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7353
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7347
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7365
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7362
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7365
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7359
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7361
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7369
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7358
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7354
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7360
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7361
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7363
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7378
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7354
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7366
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7373
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7371
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7368
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7375
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7367
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7358
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7361
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7378

#### Alternative Model 2

In [168]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [169]:
# Define the number of neurons in the output layer
# YOUR CODE HERE
number_output_neurons_A2 = 1

In [170]:
# Define the number of hidden nodes for the first hidden layer
# YOUR CODE HERE
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons) // 4

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

29

In [171]:
# Create the Sequential model instance
# YOUR CODE HERE
nn_A2 = Sequential()

In [172]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(units=1, activation="sigmoid"))
# Check the structure of the model
# YOUR CODE HERE
nn_A2.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_22 (Dense)            (None, 58)                6786

 dense_23 (Dense)            (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [173]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [174]:
# Fit the model
# YOUR CODE HERE
fit_model = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5798 - accuracy: 0.7191
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7290
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7293
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7292
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7304
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7322
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7311
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7323
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7319
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7332
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7322
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7333
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7338
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7326
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7338
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7334
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7327
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7335
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7341
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7340
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7347
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7342
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7359
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7339
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7360
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7357
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7348
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7354
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7351
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7354
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7357
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7365
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7364
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7352
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7361
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7366
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7358
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7364
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7364
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7360
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7372
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7358
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7362
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7365
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7371
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7364
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7374
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7365
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7374
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7373

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [175]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
# YOUR CODE HERE
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.5595 - accuracy: 0.7282 - 508ms/epoch - 2ms/step
Loss: 0.5595314502716064, Accuracy: 0.7281632423400879

In [176]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
# YOUR CODE HERE
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5548 - accuracy: 0.7322 - 494ms/epoch - 2ms/step
Loss: 0.5548099279403687, Accuracy: 0.7322449088096619

In [177]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
# YOUR CODE HERE
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5595 - accuracy: 0.7282 - 395ms/epoch - 1ms/step
Loss: 0.5595314502716064, Accuracy: 0.7281632423400879

### Step 3: Save each of your alternative models as an HDF5 file.

In [178]:
# Set the model's file path
# YOUR CODE HERE
file_path = Path("AlphabetSoup#2.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A1.save(file_path)

In [179]:
# Set the model's file path
# YOUR CODE HERE
file_path = Path("AlphabetSoup#3.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A2.save(file_path)